:root {
    --background: #0d1117;     
    --texto: #c9d1d9;    
    --links: #58a6ff;   
    --terminal: #3fb950; 
    --commentarios: #8b949e;  
    --font-terminal: 'Courier New', Courier, monospace;
}
body.terminal {
  background-color: var(--background);
  color: var(--texto);
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}
.section-titulo {
  color: var(--commentarios);
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 2px;
}
.prompt, .tech-item {
    color: var(--terminal);
    text-shadow: 0 0 5px rgba(63, 185, 80, 0.4); 
}
.texto-status{
  color: var(--commentarios);
  font-size: 0.9rem;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; 
  height: 200px;
  margin: 0 auto 20px; 
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border: 2px solid var(--terminal);
}
.dot-pulse {
  height: 10px;
  width: 10px;
  background: var(--sucesso);
  border-radius: 50%;
  display: inline-block;		
	box-shadow: 0 0 0 0 rgba(80, 250, 123, 0.7);
  animation: pulsando 2s infinite;	
}
@keyframes pulsando {
	0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(80, 250, 123, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 6px rgba(80, 250, 123, 0);
    }
    100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(80, 250, 123, 0);
    }
}	
h1:hover{
  color: var(--terminal);
}

/*LINKS*/
.lista-links{
  list-style: none;
  padding: 0;
  margin: 0;
}
.lista-links li{
  margin-bottom: 18px;
}
.lista-links a {
  color: var(--texto);
  text-decoration: none;
  font-size: 1.1rem;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}
.lista-links-terminal a .seta{
  color:transparent;
  margin-right: 5px;
  transition: color 0.2s ease;
}
.lista-links a:hover {
  color: var(--links);
  transform: translateX(5px);
}
.lista-links-terminal a:hover .seta {
  color: var(--links);
}
.lista-links small{
  color: var(--commentarios);
  font-size: 0.85rem;
  display: block;
}

/*Grade stack*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.tech-item{
  border: 1px dashed var(--commentarios);
  padding: 8px;
  text-align: center;
  font-size: 0.9rem;
  transition: transform 0.2s ease, color 0.2s ease;
}
.tech-item:hover{
  transform: translateY(-3px);
}
footer {
  margin-top: 40px;
  color: var(--commentarios);
  font-size: 0.8rem;
}

/*MIDIA QUERY*/
@media (min-width: 768px) {
  
  body.terminal {
    padding: 0;
    overflow: hidden;
  }
  main {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100vw;
    height: 100vh;
  }
  /*Lado esquerdo*/
  .perfil-sidebar {
    background-color: #161b22;
    padding: 40px;
    border-right: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
  }
  .introdução {
  background-color: #161b22;
  }
  .conteudo-links {
    padding: 60px 80px;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lista-links-terminal {
        padding: 0;
        margin: 0;
        list-style: none;
    }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}